body {
  text-align: center;
  background: linear-gradient(to top, #72c6ea, #5598ea, #3dc6f3, #358fe4);
}

h1 {
  color: rgb(1, 17, 70);
  text-align: center;
  font-size: 50px;
  padding-top: 30px;
  text-shadow: 0px 5px 5px #ed1f1f;
}

h2 {
  color: rgb(250, 244, 244);
  color: springgreen;
}

.board-container {
  width: 250px;
  height: 250px;
}

.img-container {
  box-shadow: rgb(239, 126, 126) 0px 22px 70px 4px;
  margin: auto;
  height: 600px;
  width: 400px;
  background-attachment: fixed;
  border-collapse: separate;
  border-spacing: 20px;
  background-image: url(../img/space.jpg);
  /* background-size: center; */
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

  /* border: 3px solid rgb(244, 85, 82); */
  padding: 10px;
}

button {
  font-size: 1rem;
  text-shadow: 0px 1px 1px #080684;
  padding: 15px;
  background: linear-gradient(to top, #f5dab5, #f9b767, #ef9536, #e97d25);
}
button:hover {
  background: linear-gradient(to top, #bff3bb, #71d75c, #56f33e, #8beb9d);
  cursor: pointer;
  /* font-size: larger; */
}
.modal {
  visibility: hidden;
  padding: 15px;
  color: rgba(156, 35, 35, 0.755);
  font-style: italic;
  font-size: 2.5rem;
  background-color: #3fa98f;
}

table {
  margin-left: 15px;
}

td {
  width: 25px;
  height: 25px;
}
